
/* Styling the navigation */

nav ul li a{
    font-size: "30px";
}
.navbar {
    padding:0em;
}
.navbar .container-fluid {
    background-color: rgb(115, 201, 252);
    padding: 1.5em
}

/* Making the login and register page forms */
.form-container {
    display: table;
    width: 100%;
    height:100%
}
.login-form, .register-form {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

/* Styling input elements on the register and login and profile page and create Role Page */
.login-form input, .register-form input{
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Stying the login and register and profile and create role andbuttons*/
.login-form input[type="submit"], .register-form input[type="submit"]{
    cursor: pointer;
    background-color: rgb(115, 201, 252);
    color: white;
    font-weight: bold;
}

.login-form label, .register-form label, .profile-form label {
    font-weight: bold;
    font-size: 16px;
}

.container-fluid {
    padding: 1em;
}



body{
    /* background-color: hotpink;
    color: rgb(153, 0, 153); */
   
    background-color: #F8F0E3;

}

.quantityChange {
    width: 50%;
    margin: 1px;
}